<!DOCTYPE html>
<html lang="en">

<head>
  <title>DEVBAND</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="container">
        <app-menu></app-menu>
      </div>
    <!-- <div class="container">
        <nav>
          <a routerLink="/user" routerLinkActive="active">Get All Users</a>
          <a routerLink="/user/id" routerLinkActive="active">Get User Filtered</a>
          <a routerLink="/create/user" routerLinkActive="active">Create User</a>
          <a routerLink="/update/user/id" routerLinkActive="active">Update User</a>
          <!-- <a routerLink="/teacher" routerLinkActive="active">Get All Teachers</a> -->
          <!-- <a routerLink="/teacher/id" routerLinkActive="active">Get Teacher Filtered</a> -->
          <!-- <a routerLink="/create/teacher" routerLinkActive="active">Create Teacher</a> -->
          <!-- <a routerLink="/update/teacher/id" routerLinkActive="active">Update Teacher</a> -->
          <!-- <a routerLink="/course" routerLinkActive="active">Get All Courses</a> -->
          <!-- <a routerLink="/course/id" routerLinkActive="active">Get Course Filtered</a> -->
          <!-- <a routerLink="/create/course" routerLinkActive="active">Create Course</a> -->
          <!-- <a routerLink="/update/course/id" routerLinkActive="active">Update Course</a> -->
          <!-- <a routerLink="/student" routerLinkActive="active">Get All Students</a> -->
          <!-- <a routerLink="/student/id" routerLinkActive="active">Get Student Filtered</a> -->
          <!-- <a routerLink="/create/student" routerLinkActive="active">Create Student</a> -->
          <!-- <a routerLink="/update/student/id" routerLinkActive="active">Update Student</a> -->
        <!-- </nav> -->
        <!-- <router-outlet></router-outlet> -->
        <!-- </div> -->
</body>

</html>